<div class='container'>
  <div class="dashboard">
    <h1>Welcome <%= current_user.first_name %>!</h1>
    <p>Your upcoming bookings:</p>
    <p><% @inviting_upcoming_bookings.each do |booking| %>
      <div class='row'>
        <div class="card-product">
          <div class="col-xs-12 col-md-1">
            <%= cl_image_tag booking.chef.photo.url(:bright_face), class: 'card-avatar' %>
          </div>
          <div class="col-xs-12 col-md-5">
            You are inviting chef <%= link_to booking.chef.first_name, chef_path(booking.chef) %>
             on: <strong><%= booking.date %></strong>
          </div>
          <div class="col-xs-12 col-md-3">
            <% if booking.confirmed === false %>
              <span class="label label-info">Pending</span>
            <% elsif booking.confirmed === true %>
              <span class="label label-success">Confirmed</span>
            <% else %>
              <span class="label label-danger">Rejected</span>
            <% end %>
          </div>
          <div class="col-xs-12 col-md-3">
            <%= link_to "Cancel", booking_path(booking), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"%>
          </div>
        </div>
      </div>
      <% end %>
    </p>
    <p>Expired bookings:</p>
    <p>
      <% @inviting_past_bookings.each do |booking| %>
        <div class='row'>
          <div class="card-product">
            <div class="col-xs-12 col-md-1">
              <%= cl_image_tag booking.chef.photo.url(:bright_face), class: 'card-avatar' %>
            </div>
            <div class="col-xs-12 col-md-5">
              You booked <strong><%= booking.chef.first_name %> <%= booking.chef.last_name %></strong> on: <strong><%= booking.date %></strong>
            </div>
          </div>
        </div>
      <% end %>
    </p>

    <% if @user.chef %>
    <h4>Your booking requests</h4>
    <p>
      <% @meeting_upcoming_bookings.each do |booking| %>
        <div class='row'>
          <div class="card-product">
            <div class="col-xs-12 col-md-1">
              <%= cl_image_tag booking.user.photo.url(:bright_face), class: 'card-avatar' %>
            </div>
            <div class="col-xs-12 col-md-5">
              You are cooking for <strong><%= booking.user.first_name %> <%= booking.user.last_name %></strong> on: <strong><%= booking.date %></strong>
            </div>
            <div class="col-xs-12 col-md-3">
              <% if !booking.confirmed %>
                <%= link_to "Accept", booking_path(booking), method: :patch, class: "btn btn-success"%>
              <% end %>
            </div>
            <div class="col-xs-12 col-md-3">
              <%= link_to "Cancel", booking_path(booking), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"%>
            </div>
          </div>
        </div>
      <% end %>
      </p>
      <p>Expired bookings:</p>
      <p>
        <% @meeting_past_bookings.each do |booking| %>
          <div class='row'>
            <div class="card-product">
              <div class="col-xs-12 col-md-1">
                <%= cl_image_tag booking.chef.photo.url(:bright_face), class: 'card-avatar' %>
              </div>
              <div class="col-xs-12 col-md-5">
                You cooked for <strong><%= booking.user.first_name %> <%= booking.user.last_name %></strong> on: <strong><%= booking.date %></strong>
              </div>
            </div>
          </div>
        <% end %>
      </p>
    <% end %>
  </div>
</div>



