<%= link_to chef_path(chef, location: params[:location]),  class: "text-dec-none" do%>
  <div class="card-chef">
    <div class="label label-info label-abs"><i class="fas fa-utensils"> </i> <%= chef.cuisine %></div>
    <%= cl_image_tag chef.photo %>
    <div class="card-chef-infos">
      <div>
        <h2><%= chef.first_name %></h2>
        <p><%= chef.description %></p>
      </div>
      <h2 class="card-chef-pricing"><%= chef.rate %>€/h</h2>
      <%= cl_image_tag chef.user.photo.url(:bright_face), class: "card-chef-user avatar-bordered" if chef&.user&.photo %>
    </div>
  </div>
<% end %>
