<%= link_to chef_path(chef, location: params[:location]),  class: "text-dec-none" do%>
  <div class="card-chef">
    <div class="label label-info label-abs"><%= chef.cuisine %></div>
    <%= image_tag "https://images.pexels.com/photos/5938/food-salad-healthy-lunch.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" %>
    <div class="card-chef-infos">
      <div>
        <h2><%= chef.first_name %></h2>
        <p><%= chef.description %></p>
      </div>
      <h2 class="card-chef-pricing"><%= chef.rate %>€/h</h2>
      <img src='https://kitt.lewagon.com/placeholder/users/krokrob' class="card-chef-user avatar-bordered"/>
    </div>
  </div>
<% end %>
