<h1>Your booking</h1>
<h3>Your Chef: <%=@booking.chef.first_name %>
<%=@booking.chef.last_name%></h3>
<h3>Date: <%= @booking.date %></h3>
<h3>Status: Pending</h3>
<br>
<br>
<%= link_to "Back to search results", root_path, class: "btn btn-primary" %>
<%= link_to "Cancel this booking", booking_path(@booking), method: :delete, class: "btn btn-danger" %>
