<div class='container'>
  <div class='row'>
    <h2>Welcome <%= current_user.first_name %> <%= current_user.last_name %></h2>
    <div class="col-xs-12">
    <h4>Your current bookings include:</h4>
      <ol><h4><% current_user.bookings.each do |booking| %>
      <li>You have a booking with <strong><%= booking.chef.first_name %> <%= booking.chef.last_name %></strong> on: <strong><%= booking.date %></strong>
      </li>
      <% end %></ol></h4>
    </div>
  </div>
</div>


